#game {
  width: 800px;
  margin: 0 auto;
}

.choice {
  height: 200px;
  border: 2px black solid;
  text-align: center;
  font-size: 150px;
}

#title {
  text-align: center;
}

.won {
  background-color: red;
}

button {
  width: 200px;
}
